.OwnerPageMainDiv {
	/* display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar; */
	height: 100%; 
	width: 100%;
	/* max-width:250px;
	flex-wrap: wrap; */
}

.OwnerPage {
	margin-left: 250px;
}

.grubhubRow {
    display: flex;
	flex-wrap: wrap;
	margin-left: 0%;
	margin-right: 0%;
	padding-left: 0%;
	padding-right: 0%;
}

.grubhubCol {
    flex-basis: 0;
    flex-grow: 1;
	max-width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	padding-left: 0%;
	padding-right: 0%

}

.grubhubContainer {
	width: 100%;
	padding: 0%;
	margin-left: 0%;
	margin-right: 0%;
	padding-right: 0%;
	padding-left: 0%;
}